*{
    margin: 0;
    padding: 0;
}
/* banner container */
.banner_container{
    height: 652px;
    width: 1300px;
    background: url('./assets/Hero-bg.png');
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}
.img{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

}
.banner_title{
    font-size: 48px;
    text-align: center;
}
.banner_describtion{ 
    font-size: 16px;
    text-align: center;
    align-items: center;
}

/* baneer button section css */
.btn{
    background: rgb(13, 19, 33);
    color: white;
    height: 66px;
    width: 180px;
    border: 0;
    border-radius: 8px;
    margin-top: 25px;
  

}
.btn_position{
  
    display: flex;
    justify-content: center;
    align-items: center;

}
.main_section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text_section{
    text-align: center;
    
}
.text_title{
    margin-bottom: 20px;
}
/* main part  */
.main{
padding: 50px 95px 85px 95px; 



}
.main1_parent{
    margin: 80px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
   
}
.main1_section{
    justify-content: center;
    
}
.img_div{
    display: flex;
    
}
.btn1{

width: 150px;
height: 48px;
margin-top: 5%;
padding: 12px 20px 12px 20px;
}

.text_section{
    margin-bottom: 80px;
}
/* video section start */
.video_section{
    margin: 0 auto;
    text-align: center;
}
.video_fream{
    width: 1076px;
    height: 550px;
    margin-bottom: 180px;
    border-radius: 10px;
}
/* content section start */
.content_section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}
/* card section start */
.cards_section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px 5px;
    height: 250px;
    margin-bottom: 120px;
   
}

.card1, .card2, .card3{
    
    width: 250px;
    padding: 40px;
    border-radius: 8px;
   
    
}
.card_text{
    font-weight: 700;
    color: rgb(13, 19, 33);
}
.card1{
    background-color: rgba(255, 76, 30, 0.05);
}
.card2{
 background-color: rgba(0, 76, 232, 0.05);
}
.card3{
 background-color: rgba(255, 223, 0, 0.05);
}



/* Main3_Section start */
.main3_section{
    display: flex;
    justify-content: center;
    margin-top: 170px;

    
    
  
    
}
.main3_section{
    
    background: url('./assets/hand_shack.png');
    margin-top: 49px;
    border-radius: 10px;
    height: 600px;
    width: 1040px;
    margin: 0 auto;
    background-size: 1200px;
    background-repeat: no-repeat;
    margin-bottom: 100px;
    background-size: cover;
    background-position: center;
    
    
    
    
}

.main3_section_text{
    display: flex;justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;

    
}

.text_content{
    margin-bottom: 30px;
}


.main3_section_text_content{
 color: white;

}
.search_field{

width: 500px;
height: 30px;
padding: 10px 20px 19px 20px;
border-radius: 5px;
border: 0;
font-size: 18px;


}
.input_area{
    display: flex;
    gap: 10px;
}
.submit_btn{
 /* padding: 10px 30px; */
 padding: 10px 20px 19px 20px;
 background-color: rgb(255, 255, 255);
 border: 0;
 border-radius: 5px;
 font-weight: 600;
 font-size: 20px;
}


/* footer part */

.footer_container{
    background: rgba(13, 19, 33, 0.03);
    padding: 18px 230px;
    margin-bottom: 30px;
    
    
   
}

.footer_content{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    /* margin: 50px 260px; */
}
.footer_img img{
    padding: 0 10px;
    font-size: 10px;
    
}
