*{
    margin: 0;
    padding: 0;
}
/* banner container */
.banner_container{
    height: 652px;
    width: 1300px;
    background: url('./assets/Hero-bg.png');
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 44px;
    
}
.img{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

}
.banner_title{
    font-size: 48px;
    text-align: center;
}
.banner_describtion{ 
    font-size: 16px;
    text-align: center;
}

/* baneer button section css */
.btn{
    background: rgb(13, 19, 33);
    color: white;
    height: 66px;
    width: 180px;
    border: 0;
    border-radius: 8px;
    margin-top: 25px;
  

}
.btn_position{
  
    display: flex;
    justify-content: center;
    align-items: center;

}
.main_section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text_section{
    text-align: center;
    
}
.text_title{
    margin-bottom: 20px;
}
.main{
padding: 50px 95px 85px 95px; 



}
.main1_parent{
   margin: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
   
}
.main1_section{
    justify-content: center;
    
}
.img_div{
    display: flex;
    
}
.btn1{

width: 150px;
height: 48px;
margin-top: 5%;
padding: 12px 20px 12px 20px;
}

.text_section{
    margin-bottom: 80px;
}
.video_section{
    margin: 0 auto;
    text-align: center;
}
.video_fream{
    width: 1076px;
    height: 550px;
    margin-bottom: 180px;
}
.content_section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}
.cards_section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card1, .card2, .card3{
    margin: 30px 5px;
    height: 200px;
    width: 200px;
    padding: 40px;
    border-radius: 5px;
   
    
}
.card1{
    background-color: rgba(255, 76, 30, 0.05);
}
.card2{
 background-color: rgba(0, 76, 232, 0.05);
}
.card3{
 background-color: rgba(255, 223, 0, 0.05);
}